<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Client</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div>
          <ul id="messages"></ul>
        </div>

        <div>
          <input id="message" type="text" />
          <button onclick="handleSubmitNewMessage()">Submit</button>
        </div>
    <script>
        const socket = io('http://localhost:3000', { transports: ['websocket'] });

        const message = document.getElementById('message');
        const messages = document.getElementById('messages');

        const handleSubmitNewMessage = () => {
          socket.emit('message', { data: message.value }); // 클라이언트에서 서버로 이벤트를 발생시킨다
        };

        // socket.on은 클라이언트단에서 발생한 이벤트를 선택적으로 캐치하여 이벤트 핸들러를 등록함
        socket.on('message', ({ data }) => {
          handleNewMessage(data);
        });

        handleNewMessage = (message) => {
          messages.appendChild(buildNewMessage(message));
        };

        const buildNewMessage = (message) => {
          const li = document.createElement('li');
          li.appendChild(document.createTextNode(message));
          return li;
        };

    </script>
</body>
</html>
