<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
          integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .main-container {
      display: flex;
      width: 80%;
      max-width: 1200px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
    }

    .content, .response {
      padding: 20px;
      width: 50%;
    }

    .content {
      border-right: 2px solid #f0f0f0;
    }

    h1, h2 {
      color: #333;
    }

    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      margin: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
  <title>Game TEST</title>
</head>
<body>
<div class="main-container">
  <div class="content">
    <h1>Game TEST</h1>
    <h2>Player: {{ user.nickName }}</h2>
    <button id='game-info' onclick='getGameInfo()'>Get Game Info</button>
    <button id='game-ready' onclick='gameReady()'>Game Ready</button>
    <button id='go-to-queue' onclick='goToQueue()'>Go Queue Page</button>
  </div>
  <div class="response" id="response">
    <!-- Response content will go here -->
  </div>
</div>
<script type='module' src="js/game/game.js"></script>
</body>
</html>
