<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
          integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--  <link href='css/game.css' rel='stylesheet' />-->
  <script type='module' src="js/game/queue.js"></script>
  <title>Game Queue TEST</title>
</head>
<body>
<div>
  <h1>Game Queue TEST</h1>
  <h2>Player: {{ record.id }}</h2>
  <h2>RankScore: {{ record.rankScore }}</h2>

</div>
  <input type="radio" id="type_classic" name="game-type" value="NORMAL" checked>
  <label for="classic">Classic</label>
  <input type="radio" id="type_special" name="game-type" value="HARD">
  <label for="special">Special</label>
  <input type="radio" id="type_rank" name="game-type" value="RANK">
  <label for="rank">Rank</label>
  <br>
  <button id="join-queue" onclick='joinQueue()'>Join Queue</button>
  <button id="leave-queue" onclick='leaveQueue()'>Leave Queue</button>
  <div id="response">
  </div>
</body>
</html>
