body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#login-title {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
}

#login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#login-button {
    width: 100%;
    background-color: #007BFF; /* Blue */
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#login-button:hover {
    background-color: #0056b3; /* Darker Blue */
}
